<%- include("templates/header") %>
<link rel="stylesheet" type="text/css" href="/css/gamedetail.css">
<%- include("templates/navbar") %>
  <div class="container">
    <span id="gameName"><%= gameName %></span>
    <p id="gameRating"><%= gameRating %>% Positive Reviews</p>
    <p id="gameDescription"><%= gameDescription %></p>
    <img id="gameImage" class="game-image" src="<%= gameImage %>" alt="Game Image">
    <br>
    <br>
    <p class="similarTitle">More games you might like...</p>
    <p class="similarGames"><%- similarGames %><span id="popup"><%= moreGameName %>
      <br>
      <span id="popupDesc"><%= truncatedDesc %></span>
      </span>
    </p>
  </div>
  <script src="/js/gamedetail.js"></script>
  <%- include("templates/footer") %>


