<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Detail Page</title>
  <link rel="stylesheet" type="text/css" href="/css/gamedetail.css">
</head>

<body>
  <%- include("templates/header") %>
  <!-- whatever you need to link -->
  <%- include("templates/navbar") %>
  <div class="container">
    <h3 id="gameName"><%= gameName %></h3>
    <p id="gameRating"><%= gameRating %></p>
    <p id="gameDescription"><%= gameDescription %></p>
    <img id="gameImage" class="game-image" src="<%= gameImage %>" alt="Game Image">
    <p id="similarGames"><%= similarGames %></p>
  </div>
  <%- include("templates/footer") %>
  <script src="/js/gamedetail.js"></script>
</body>

</html>


