<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>popular Game Page</title>
    <link rel="stylesheet" href="/public/css/popular.css">
  </head>
  <body>

      <div class="search-container">
        <input type="text" id="search" placeholder="Search Games...">
        <button id="searchBtn" class="search-icon">
          <img src="/public/img/search.png" alt="search">
        </button>
      </div>
      
        <div class="filter-container">
          <div class="filter-btn-container">
            <button class="filter" id="filterBtn">Filter</button>
            <div class="filter-menu-container" id="filterMenu">
              <ul>
                <li><a href="/html/free.html">Free Game</a></li>
                <li><a href="/html/popular.html">Popular Game</a></li>
                <li><a href="#">Low to high price</a></li>
                <li><a href="#">High to low pricey</a></li>
              </ul>
            </div>
          </div>
        </div>
      
        <div class="container">
            <% games.forEach((game, index) => { %>
              <div class="box">
                <div class="rank"><%= index + 1 %></div>
                <img src="<%= game.image %>" alt="Game <%= index + 1 %>">
                <div class="game-details">
                  <h2><%= game.name %></h2>
                  <p>Genres (Video game): <%= game.genres %></p>
                  <button onclick="location.href='<%= game.url %>';">Show Details</button>
                </div>
              </div>
            <% }) %>
          </div>
      

      <script src="/public/js/popular.js"></script>
  </body>
</html>