<%- include("templates/header") %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<%- include("templates/navbar") %>
      <div class="container my-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <%= post.title %>
            </h5>
            <p class="card-text">
              <%- post.content.split('\n').join('<br>') %>
            </p>
            <p class="card-text">Written by: <%= post.author %>
            </p>
          </div>
        </div>
      </div>
<%- include("templates/footer") %>