<%- include("templates/header") %>
    <link href="css/profile.css" rel="stylesheet">
<%- include("templates/navbar") %>

  <div id="gif-overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000;">
    <img id="love-gif" src="/img/tong.gif" alt="Love GIF" style="width: 100%; height: 100%;">
  </div>

    <div class="profile-header">
<!-- profile.ejs -->
<img id="profile-image" src="<%= image ? `${image}?t=${locals.timestamp}` : '/default-image.jpg' %>" alt="User Image">


      <div class="profile-info">
        <% if (username) { %>
          <h2><%= username %></h2>
        <% } else { %>
          <h2>Guest</h2>
        <% } %>
        <% if (email) { %>
          <p><%= email %></p>
        <% } %>
        <% if (phone) { %>
          <p><%= phone %></p>
        <% } %>
        <button id="edit-profile-picture-button">Edit Profile Picture</button>
        <button id="save-profile-picture-button">Save Profile Picture</button>
      </div>
    </div>
    
      </div>
    </div>   
    </div>
    <div class="profile-form">
      <form id="password-form" action="/changePassword" method="POST">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="newPassword">
        
        <label for="confirm-password">Confirm New Password:</label>
        <input type="password" id="confirm-password" name="confirmPassword">
        
        <button type="submit">Save</button>
        <button type="button">Cancel</button>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $("#password-form").submit(function(e) {
        e.preventDefault();
      
        var newPassword = $("#password").val();
        var confirmPassword = $("#confirm-password").val();
      
        if(newPassword !== confirmPassword) {
          alert("Passwords do not match");
          return;
        }
      
        $.ajax({
          type: "POST",
          url: "/changePassword",
          data: $(this).serialize(), 
          success: function(data)
          {
            alert(data.message);
          },
          error: function(err)
          {
            alert(err.responseJSON.error);
          }
        });
      });
    </script>
    <script src="/js/profile.js"></script>

<%- include("templates/footer") %>

