<!DOCTYPE html>
<html>
<head>
    <title>Game Recommendation</title>
    <link rel="stylesheet" href="/css/recommend.css">
</head>
<body>
    <%- include("templates/header") %>
    <!-- whatever you need to link -->
    <%- include("templates/navbar") %>


    <div class="container">
        <a href="#" class="content">
            <img src="<%= imageUrl1 %>" alt="recommendation 1">
        </a>
        <a href="#" class="content">
            <img src="<%= imageUrl2 %>" alt="recommendation 2">
        </a>
        
    </div>
    <%- include("templates/footer") %>
</body>
</html>

