<%- include("templates/header") %>
<link href="/css/searchresults.css" rel="stylesheet">
<%- include("templates/navbar") %>
<div id="container">
    <label for="search" id="search-label">Please remember to use proper capitalisation in your search query.</label>
    <input type="text" name="search" id="search-bar" placeholder="Search: Please use proper capitalisation" value="<%= search_query %>">
    <button id="search-button" onclick="search()"><img src="/img/search_icon.png" id="search-icon"></button>
</div>
<div class="text-center">
    <span id="top-text">Search Results for "<%= search_query %>"</span>
</div>
<%- search_results %>
<script src="/js/search.js"></script>
<%- include("templates/footer") %>